---

---
<a href="appetizers.astro">
<button class="appetizers_button">Appetizers
</button></a>


<style>
    .appetizers_button {
  background-color: #F5F2E8; 
  border: solid 5px;
  color: #232188;
  padding: 10px 30px;  
  text-decoration: none; 
  border-radius: 30px;
  font-family: "font_h2";
  font-size: 1.3rem;
  font-weight: 1000;
  }

  .appetizers_button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
     cursor: pointer;
     transition: transform 0.3s ease ease-in-out;
     transform: scale(1.05);
  }


</style>