---
const { data } = Astro.props;
console.log(data);
---

<article>
  <div class="grid_app1">
    <h1>{data.appetizers}</h1>
  </div>
  <div class="grid_app2">
    <p>Price:{data.appetizers_price}</p>
  </div>
  <div class="grid_app3">
    <img src={"/svg/illustration_appetizers/" + data.appetizers_illustration} alt="" />
  </div>
</article>
 `
<style>
  article img {
    width: 100%;
  }

  article {
    background-color: #fffaf3;
    border-radius: 40px;
    border: 5px solid #9db999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    color: #232188;
    border-right: 2px solid #232188;
    font-size: 1.5em;
    padding-left: 15%;
    padding-right: 10%;
  }
  p {
    word-break: normal;
    font-size: 1.3rem;
    padding-left: 10%;
    padding-top: 15%;
  }
</style>
