---

---

<div class="pil2">
  <a href="#forside_intro_2">
    <img src="/svg/pil_ned.svg" alt="pil" />
  </a>
</div>
<style>
  .pil2 {
    padding-right: 11%;
    width: 60px;
    padding-top: 5%;
  }
  .pil2 a {
    scroll-behavior: smooth;
  }
  .pil2 img {
    width: 100%;
  }
</style>
