---

---

<div class="pil2">
  <img id="pil" src="/svg/pil_ned.svg" alt="pil" />
</div>
<style>
  .pil2 {
    padding-right: 11%;
    width: 60px;
    padding-top: 5%;
  }
  .pil2 a {
    scroll-behavior: smooth;
  }
  .pil2 img {
    width: 100%;
  }

  .pil2:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .pil2 {
      display: none;
    }
  }
</style>

<script>
  let forside = document.querySelector("#forside_intro_2");
  let pil = document.querySelector("#pil");
  pil.addEventListener("click", () => {
    forside.scrollIntoView({ behavior: "smooth" });
  });
</script>
