---

---

<a href="https://book.easytablebooking.com/book/?id=f6c9f&lang=auto&kuid=0e490165-6d9f-49a4-9fe7-3a3035f9273d&kref=CgMq5QaTH9Yf"> <button class="book_button">Book a table</button></a>

<style>
  .book_button {
    background-color: #f5f2e8;
    border: solid 5px;
    color: #232188;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-family: "font_h2";
    font-size: 1.3rem;
    font-weight: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .book_button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease ease-in-out;
    transform: scale(1.05);
  }
</style>
