---

---

<footer>
  <div class="footer-container">
    <div class="footer-main-text">
      <h1>Got any questions?</h1>
    </div>
    <div class="footer-lines">
      <div>
        <h2>Brunchs Winebar</h2>
        <p>
          H.C Ørsteds Vej 50A, st. 4 <br />
           1879, Frederiksberg C
        </p>
      </div>
      <div>
        <h2>Opening hours</h2>
      </div>
      <p>
        Monday: Closed <br />
         Tuesday: Closed <br />
         Wednesday: 16-22 <br />
         Thursday: 16-22 <br />
         Friday: 16-22 <br />
         Saturday: 16-22 <br />
         Sunday: Closed
      </p>
    </div>
    <div>
      <h2>Contact information</h2>
      <p>
        Telefon: +45 23849560 <br />
         Email: mads.bunch@gmail.com <br />
         Se smiley kontralrapport
      </p>
    </div>

    <div class="bottom-footer">
      <div class="footer-social">
        <img src="/img/facebook_icon.avif" alt="facebook" />
        <img src="/img/instagram_icon.avif" alt="facebook" />
        <!-- Sociale medie ikoner eller links her -->
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Bunchs Winebar . Alle rettigheder forbeholdt.</p>
    </div>
  </div>
</footer>

<style>
  /* Mobil styling */

  h2 {
    font-family: "font_h2";
    font-weight: bold;
  }
  p {
    font-family: "font_p";
  }
  .footer-container {
    padding: 20px;
    background-color: #f4f4f4;
  }

  .footer-main-text h1 {
    font-size: 3rem;
    font-family: "font_h1";
  }

  .footer-lines {
    margin-top: 20px;
  }

  .footer-lines div {
    margin-bottom: 20px;
  }

  .footer-lines h2 {
    font-size: 1.5rem;
  }

  .footer-lines p {
    font-size: 1.2rem;
  }

  .footer-social {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .footer-social img {
    width: 30px;
    height: 30px;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }

  .footer-bottom p {
    font-size: 0.8rem;
  }

  /* Tablet og desktop styling */
  @media only screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer-main-text {
      flex: 1;
      margin-right: 20px;
    }

    .footer-lines {
      flex: 1;
      margin-right: 20px;
    }

    .footer-social {
      flex: 1;
    }

    .footer-bottom {
      flex-basis: 100%;
    }
  }
</style>
