---

---

<div class="container_movingframes">
  <div class="moving_frames">
    <section class="first">
      <div class=""><img src="/img/movingimgs/olive.webp" alt="olive" /></div>

      <div class=""><img src="/img/movingimgs/karla.webp" alt="dogkarla" /></div>

      <div class=""><img src="/img/movingimgs/redwine.webp" alt="redwine" /></div>

      <div class=""><img src="/img/movingimgs/owners.webp" alt="theowners" /></div>
    </section>

    <section class="second">
      <div class=""><img src="/img/movingimgs/skiltet.webp" alt="thesign" /></div>

      <div class=""><img src="/img/movingimgs/piger.webp" alt="girls" /></div>

      <div class=""><img src="/img/movingimgs/winefood.webp" alt="wineandfood" /></div>

      <div class=""><img src="/img/movingimgs/susogvin.webp" alt="susandwine" /></div>
    </section>
  </div>
</div>

<style>
  .container_movingframes {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 7%;
  }

  .moving_frames {
    display: flex;
    flex-direction: row;
    width: 200vw;
  }

  .first,
  .second {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  .moving_frames img {
    width: 100%;
    height: auto;
  }

  .moving_frames {
    position: relative;
    animation: moveLeft 25s linear infinite;
  }

  @keyframes moveLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100vw);
    }
  }
</style>
