---

---

<div class="grid_some">
  <a href="https://www.instagram.com/bunchs.vinbar/?kuid=8fa5130d-e83f-4821-a7da-c2ae90bf3da1&kref=CgMq5QaTH9Yf">
    <img src="/svg/instagram.svg" alt="Link to instagram" />
  </a>

  <a href="https://www.facebook.com/events/h-c-%C3%B8rsteds-vej-50a-1879-frederiksberg-c-danmark/bunchs-vinbar-grand-opening/739701327963956/">
    <img src="/svg/facebook.svg" alt="Link to facebook" />
  </a>
</div>

<style>
  .grid_some {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
  }

  .grid_some a img:hover {
    transform: scale(1.3);
  }

  @media only screen and (min-width: 800px) {
    .grid_some {
      display: flex;
      flex-direction: row;
      gap: 70px;
      padding-top: 20px;
      margin-bottom: 5%;
    }
  }
</style>
