---
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
import Appetizercard from "../komponenter/Appetizercard.astro";

const data = await fetch("https://bxhbbpujtinmymxmzqsh.supabase.co/rest/v1/appetizers", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4aGJicHVqdGlubXlteG16cXNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1ODg0NDYsImV4cCI6MjAzMTE2NDQ0Nn0.Tzo9XzOyBabh4UPNBz78iKjPSmVZbK1uoAHBg8khJhA",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout>
  <div>
    <div class="grid_ost_fork">
      <div class="ost_illustration">
        <img src="/svg/cheese.svg" alt="" />
      </div>
      <div><h1>Bunchs Appetizers</h1></div>
      <div class="gaffel_illustration">
        <img src="/svg/fork.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="card_grid">
    <p>'Ask the staff for any allergies'</p>
    <div class="clickhere"><p>Click on the cards to see the appetizers.</p></div>
  </div>

  <section class="appetizers">
    {
      data.map((show) => {
        return <Appetizercard data={show} />;
      })
    }
  </section>
</MainLayout>

<style>
  h1 {
    font-size: 3rem;
    text-align: center;
    color: #232188;
    border-bottom: 4px solid rgb(0, 0, 0);
    padding-top: 10%;
  }
  .ost_illustration {
    margin-top: 20%;
  }

  .ost_illustration img {
    max-width: 100%;
  }
  .grid_ost_fork {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30%;
  }

  .gaffel_illustration img {
    transform: rotate(-55deg);
    max-width: 60%;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }

  /* Tablet og desktop styling */
  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 5.5rem;
      margin-left: 0%;
      margin-right: 0%;
    }
    .gaffel_illustration img {
      max-width: 27%;
      margin-left: 40%;
      margin-top: 10%;
    }
    .ost_illustration {
      max-width: 45%;
      margin-left: 10%;
    }

    .appetizers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    .grid_ost_fork {
      padding-top: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 7%;
    }

    .clickhere {
      display: none;
    }
    .appetizers {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
</style>
