---
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <div class="ost_illustration">
    <img src="/svg/cheese.svg" alt="" />
  </div>

  <h1>Bunchs Appetizers</h1>
  <div class="gaffel_illustration">
    <img src="/svg/fork.svg" alt="" />
  </div>

  <div class="card_grid">
    <p>'Ask the staff for any allergies'</p>
  </div>
</MainLayout>

<style>
  h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #232188;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
  }
  .ost_illustration {
    max-width: 30%;
    margin-left: 10%;
    margin-top: 20%;
  }

  .gaffel_illustration img {
    transform: rotate(-55deg);
    max-width: 20%;
    margin-left: 60%;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
  .card_grid {
    background-color: #fffaf3;
  }

  /* Tablet og desktop styling */
  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 5.5rem;
      margin-left: 15%;
      margin-right: 15%;
    }
    .gaffel_illustration img {
      max-width: 10%;
      margin-left: 60%;
      transform: rotate(-90deg);
      margin-left: 80%;
    }
    .ost_illustration {
      max-width: 14%;
      margin-top: 8%;
    }
  }
</style>
