---
import Footer from "../komponenter/Footer.astro";
import Header from "../komponenter/Header.astro";
import "../style/style.css";
import BookEventsButton from "../komponenter/BookEventsButton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <img src="" alt="" />
    <h1>Indulge in,</h1>
    <p>.. the Magic of Music, Words, and Wine Tasting at Bunchs Wine Bar!</p>

    <h1>Upcoming events</h1>
    <p>Discover our cultural events at Bunchs Wine Bar!</p>
    <p>
      Join us for our organic and biodynamic wines alongside atmospheric jazz
      evenings and engaging literary readings.
    </p>
    <p>
      Experience the magic of music and words in our cozy atmosphere. We look
      forward to welcoming you to unforgettable cultural experiences!
    </p>
    <BookEventsButton />

    <Footer />
  </body>
</html>
