---
import Some from "../komponenter/Some.astro";
import MenuButton from "../komponenter/MenuButton.astro";
import BookButton from "../komponenter/BookButton.astro";
import MovingImgs from "../komponenter/MovingImgs.astro";
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <div class="forside_wine">
    <img src="/svg/bigbottle.svg" alt="" />
  </div>
  <div class="forside_intro">
    <h1>Welcome to,</h1>
    <h2>Bunchs WINEBAR - an artsy oasis</h2>
    <p>located in the heart of Frederiksberg.</p>
  </div>

  <div class="menu_bottom">
    <MenuButton />
  </div>

  <div id="forside_intro_grid">
    <div class="container">
      <div class="image-container">
        <img src="/img/bunchsvinbar.webp" alt="Baggrundsbillede" class="background-image" />
        <img src="/img/wine_background.webp" alt="Forgrundsbillede" class="foreground-image" />
      </div>

      <div id="forside_intro_2">
        <h1>We are</h1>
        <h2>. . . an art-inspired wine bar with good, honest organic/biodynamic wine at great prices in cozy surroundings.</h2>
        <p>
          Bunch's Wine Bar is located at H.C Ørsteds Vej 50A, st. 4. in Frederiksberg. <br /><br />
           In our wine bar, we offer wine tastings for both private individuals and corporate clients, and we have a wide selection of natural wines. Therefore, you'll be able to taste wines that you can't find anywhere else.
        </p>
        <h1>We have</h1>
        <p>
          .. 12 different wines by the glass (bubbles, red, white & orange) - also full bottles. <br /><br />
           If you feel like having a little bite to eat with us, we have several different small dishes on the menu, including anchovies, burrata, pâté, serrano ham, and more.
        </p>
      </div>
    </div>
  </div>

  <div class="forside_illustrationer">
    <div>
      <img src="/svg/glass1.svg" alt="" />
    </div>
    <div>
      <img src="/svg/forkspoon.svg" alt="" />
    </div>
  </div>

  <div class="rullebaggrund">
    <p>,</p>
  </div>

  <div id="forside_intro_grid">
    <div class="container">
      <div id="forside_intro_3">
        <h1>Stop by</h1>
        <h2>. . . and enjoy a good glass of natural wine.</h2>

        <p>
          Whether you're looking to savor a fine glass of wine before <br />your meal or eager to sample a variety of wines with a group <br />of family members, friends, or colleagues, our wine bar is definitely worth a visit.
        </p>
        <p>Here, you can indulge in our exclusive selection of natural wines, unavailable elsewhere, which go beyond just conventional wines.</p>

        <h1>Moreover,</h1>
        <p>... we regularly hold wine tastings and other events in the wine bar with plenty of entertainment, such as readings, live music, and more. You can keep up with upcoming events on our website or Instagram and Facebook.</p>
        <div class="book_bottom">
          <BookButton />
        </div>
      </div>
      <div class="image-container">
        <img src="/img/bunchsvinbar.webp" alt="Baggrundsbillede" class="background-image" />
        <img src="/img/wine_background.webp" alt="Forgrundsbillede" class="foreground-image" />
      </div>
    </div>
  </div>

  <div class="sociale_medier">
    <h1>Follow us on social media!</h1>
    <div class="sociale_medier_icon">
      <Some />
    </div>
    <MovingImgs />
  </div>

  <style>
    /* Mobil styling */
    .rullebaggrund {
      background-image: url(/img/wine_background.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      padding-bottom: 50px;
      padding-top: 50px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .image-container {
      display: grid;
      grid-template-areas: "background foreground";
      align-items: end;
      margin-left: 100px;
    }

    .background-image {
      grid-area: background;
      max-width: 130%;
      height: auto;
      margin-left: -30%;
      box-shadow: 5px 5px 5px black;
    }

    .foreground-image {
      grid-area: foreground;
      width: 130%;
      margin-left: -50%;
      margin-bottom: -24%;
    }
    .forside_wine img {
      max-width: 90%;
      height: auto;
      margin-top: 50px;
      margin-left: 80px;
    }
    .forside_intro {
      line-height: 0.8;
      margin-left: 10px;
      margin-top: 0;
    }
    #forside_intro_2 {
      line-height: 1.5;
      margin-left: 10px;
      margin-right: 10px;
    }
    #forside_intro_3 {
      line-height: 1.5;
      margin-left: 10px;
      margin-right: 10px;
    }

    .forside_illustrationer img {
      margin-left: 20%;
      max-width: 50%;
      margin-top: 10%;
    }

    .sociale_medier_icon {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      background-repeat: no-repeat;
      padding-bottom: 100px;
      background-size: 300px;
      margin-bottom: 10px;
    }
    .sociale_medier_icon img {
      width: 40px;
      height: 40px;
      padding: 20px;
    }
    .sociale_medier h1 {
      padding-top: 20%;
      text-align: center;
    }
    .menu_bottom {
      padding-left: 4%;
    }

  

    /* Tablet og desktop styling */
    @media only screen and (min-width: 800px) {
      .forside_wine img {
        max-width: 90%;
        height: auto;
        position: relative;
        padding-left: 30%;
        padding-top: 5%;
      }

   
      .forside_intro {
        line-height: 1;
        padding-left: 5%;
        margin-top: -10%;
      }
      .menu_bottom {
        padding-left: 7%;
      }
      .forside_intro h1 {
        font-size: 4.5rem;
      }

      .forside_intro h2 {
        font-size: 2.5rem;
      }
      .forside_intro p {
        font-size: 1.5rem;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 5%;
        padding-left: 2%;
      }

      .background-image {
        width: 140%;
        height: auto;
        transform: translate(10%, -25%);
      }

      .foreground-image {
        transform: translate(10%, -35%);
        width: 130%;
        height: auto;
      }

      #forside_intro_2 {
        padding-left: 5%;
        border-left: 2px solid #232188;
        margin-top: 20%;
        margin-bottom: 20%;
      }
      .image-container {
        padding-top: 40%;
      }
      .forside_illustrationer img {
        max-width: 100%;
        margin-top: 0;
        margin-left: 0;
      }
      .forside_illustrationer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40%;

        margin-bottom: 10%;
      }
      .rullebaggrund {
        padding-bottom: 100px;
        padding-top: 300px;
        margin-top: 0;
      }
      #forside_intro_3 {
        padding-left: 5%;
        border-right: 2px solid #232188;
        margin-top: 20%;
        margin-bottom: 15%;
        padding-right: 15%;
      }
      .sociale_medier h1 {
        padding-top: 7%;
        text-align: center;
      }
      .sociale_medier_icon img {
        width: 60%;
        height: auto;
      }
      .sociale_medier_icon {
        padding-bottom: 0;
      }
      .book_bottom {
        padding-top: 5%;
      }
    }
  </style>
</MainLayout>
