---
import Footer from "../komponenter/Footer.astro";
import Header from "../komponenter/Header.astro";
import WineButton from "../komponenter/WineButton.astro";
import AppertizersButton from "../komponenter/AppetizersButton.astro";
import "../style/style.css";
---

<body>
  <Header />
  <Footer />
</body>
<style></style>
