---
import WineButton from "../komponenter/WineButton.astro";
import AppertizersButton from "../komponenter/AppetizersButton.astro";
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <div class="main_grid_menu">
    <div class="menu_grid">
      <div class="menu_text">
        <h1>Check out our menu</h1>
        <p>
          Indulge in a delightful selection of wines perfectly paired with delectable appetizers. <br />From artisanal cheeses to savory charcuterie, our menu offers a tantalizing array of flavors to complement your wine experience.
        </p>
        <p>Explore our offerings and treat your palate to a journey of taste sensations at our winebar!</p>
      </div>

      <div class="menu_illustration">
        <img src="/svg/twowineglass.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="bottoms_menu">
    <div class="bottom_menu_1">
      <a href="wine.astro">
        <WineButton />
      </a>
    </div>
    <div class="bottom_menu_2">
      <a href="appetizers.astro">
        <AppertizersButton />
      </a>
    </div>
  </div>

  <div class="rullebaggrund2">
    <p>,</p>
  </div>
</MainLayout>

<style>
  .rullebaggrund2 {
    background-image: url(/img/bord2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 30px;
    padding-bottom: 50px;
    background-size: contain;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .menu_text {
    border-top: 3px solid rgba(35, 33, 136, 1);
    border-right: 3px solid rgba(35, 33, 136, 1);
  }
  .menu_illustration img {
    max-width: 100%;
    height: auto;
    margin-left: 40%;
  }
  p {
    margin-left: 10px;
    margin-top: 20px;
  }
  h1 {
    margin-top: 60px;
    margin-left: 10px;
  }

  .bottoms_menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 100%;
  }
  .main_grid_menu {
    margin-top: 120px;
  }

  .bottom_menu_1,
  .bottom_menu_2 {
    margin-top: 10%;
  }

  /* Tablet og desktop styling */

  @media only screen and (min-width: 800px) {
    .rullebaggrund2 {
      margin-top: 5px;
      margin-bottom: 150px;
      padding-bottom: 190px;
      padding-top: 200px;
      background-size: cover;
    }
    .bottoms_menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      gap: 0px;
    }

    h1 {
      font-size: 4rem;
    }

    .main_grid_menu {
      display: flex;
      flex-direction: column;
      margin-left: 70px;
      margin-right: 70px;
      margin-top: 100px;
    }

    .menu_grid {
      margin-top: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .menu_text {
      display: flex;
      flex-direction: column;
      line-height: 3vw;
    }

    .menu_illustration img {
      max-width: 100%;
      width: 75%;
    }
  }
</style>
