---
import Footer from "../komponenter/Footer.astro";
import Header from "../komponenter/Header.astro";
import WineButton from "../komponenter/WineButton.astro";
import AppertizersButton from "../komponenter/AppetizersButton.astro";
import "../style/style.css";
---

<div>
  <h1>Check out our menu,</h1>
</div>

<WineButton />
<AppertizersButton />
<Footer />
