---
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <div>
    <h1>Bunchs Wines</h1>
  </div>

  <div class="wine_menu">
    <div>
      <h2>SPARKLING</h2>
    </div>
    <div>
      <h2>WHITE</h2>
    </div>
    <div>
      <h2>ORANGE</h2>
    </div>
    <div>
      <h2>RED</h2>
    </div>
  </div>

  <div class="glass_illustration">
    <img src="/svg/glass3.svg" alt="" />
  </div>
</MainLayout>

<style>
  h1 {
    font-size: 4rem;
    text-align: center;
    color: #232188;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin-left: 7%;
    margin-right: 7%;
  }
  h2 {
    font-size: 1.2rem;
  }

  .wine_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
  }
  .glass_illustration {
    max-width: 60%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  /* Tablet og desktop styling */
  @media only screen and (min-width: 800px) {
    h2 {
      font-size: 2rem;
    }
    h1 {
      margin-top: 15%;
      font-size: 6rem;
      margin-left: 15%;
      margin-right: 15%;
    }
    .wine_menu {
      margin-left: 15%;
      margin-right: 15%;
    }
    .glass_illustration {
      max-width: 40%;
      margin-left: 60%;
      margin-top: 0;
    }
  }
</style>
