---
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
import Winecard from "../komponenter/Winecard.astro";

const data = await fetch("https://bxhbbpujtinmymxmzqsh.supabase.co/rest/v1/wine_and_appetizers", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4aGJicHVqdGlubXlteG16cXNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1ODg0NDYsImV4cCI6MjAzMTE2NDQ0Nn0.Tzo9XzOyBabh4UPNBz78iKjPSmVZbK1uoAHBg8khJhA",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout>
  <div class="grid_winemenu">
    <div class="grid_winemenu1">
      <div>
        <h1>Bunchs Wines</h1>
      </div>
      <h2>Choose between red, sparkling, orange, & white.</h2>
    </div>
    <div class="grid_winemenu2">
      <div class="glass_illustration">
        <img src="/svg/glass3.svg" alt="" />
      </div>
    </div>
  </div>

  <section class="wines">
    {
      data.map((show) => {
        return <Winecard data={show} />;
      })
    }
  </section>
</MainLayout>

<style>
  h1 {
    font-size: 4rem;
    text-align: center;
    color: #232188;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin-left: 7%;
    margin-right: 7%;
  }
  h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .glass_illustration {
    max-width: 60%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .grid_winemenu {
    padding-top: 70px;
  }

  /* Tablet og desktop styling */
  @media only screen and (min-width: 800px) {
    .grid_winemenu {
      display: grid;
      grid-template-columns: 4fr 1fr;
      margin-bottom: 50px;
    }

    h2 {
      font-size: 2rem;
      text-align: left;
      padding-left: 80px;
    }
    h1 {
      margin-top: 15%;
      font-size: 6rem;
      text-align: left;
      margin-right: 25%;
    }

    .glass_illustration {
      max-width: 140%;
      margin-left: 2%;
      margin-top: 75%;
    }
    .wines {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 30px;
      padding-right: 30px;
    }
    .grid_winemenu1 {
      padding-top: 50px;
    }
  }
</style>
