---
import "../style/style.css";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <div>
    <h1>Bunchs Wines</h1>
  </div>

  <div class="wine_menu">
    <div>
      <h2>SPARKLING</h2>
    </div>
    <div>
      <h2>WHITE</h2>
    </div>
    <div>
      <h2>ORANGE</h2>
    </div>
    <div>
      <h2>RED</h2>
    </div>
  </div>

  <div class="glass_illustration">
    <img src="/svg/glass3.svg" alt="" />
  </div>
</MainLayout>

<style>
  h1 {
    font-size: 7rem;
    text-align: center;
    color: #232188;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
  }
  h2 {
    font-size: 1.5rem;
  }

  .wine_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .glass_illustration {
    max-width: 60%;
    margin-left: 40%;
    margin-top: 5%;
  }

  /* Tablet og desktop styling */
  @media only screen and (min-width: 800px) {
    h2 {
      font-size: 3rem;
    }
  }
</style>
