@font-face {
  font-family: "font_h1";
  src: url(/public/fonts/dm_seriftext/dm-serif-text-latin-400-normal.woff) format("woff");
}
@font-face {
  font-family: "font_h2";
  src: url(/public/fonts/dm_sans/dm-sans-latin-100-normal.woff) format("woff");
}
@font-face {
  font-family: "font_p";
  src: url(/public/fonts/alegreya_sans/alegreya-sans-latin-100-normal.woff) format("woff");
}
